.new-incident {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.new-incident .content {
    width: 100%;
    max-width: 1180px;
    padding: 96px;
    background: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-incident .content section {
    width: 100%;
    max-width: 380px;
}

.new-incident .content section img{
    max-width: 250px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.new-incident .content section h1 {
    margin: 10px 0 10px;
    font-size: 32px;
}

.new-incident .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-incident .content form {
    width: 100%;
    max-width: 450px;
}

.new-incident .content form input {
    margin-top: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-incident .content form textarea {
    margin-top: 8px;
}
